@page "/Error"
@attribute [AllowAnonymous]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Error</PageTitle>

<div class="card center">
    <h1>Something went wrong</h1>
    <p class="muted">An unexpected error occurred while processing your request.</p>
    <a class="link" href="/orders">Back to orders</a>
</div>
